<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Cinema-Project</display-name>
  <welcome-file-list>
    <welcome-file>Cinema.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>cinema-servlet</servlet-name>
    <servlet-class>com.matteo.cinema.servlet.CinemaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>cinema-servlet</servlet-name>
     <url-pattern></url-pattern> 
  </servlet-mapping>
  
</web-app>